@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

html {
  background-color: #E8E8EB;
  font-family: "Rubik", sans-serif;
}

#main-container {
  padding: 13rem 5rem 0rem 5rem;
}

body {
  margin: 0;
}

#nav>ul {
  list-style-type: none;
  display: flex;
}

#nav>ul>li {
  padding-right: 1rem;
}

#nav>ul>li>a.active {
  color: #F2C14B;
  font-weight: 400;
}

#nav>ul>li>a {
  text-decoration: none;
  color: white;
}

#nav>ul>li>a:hover {
  color: #F2C14B;

}

button {
  height: 2rem;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.flex-space-between {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.shop-container {
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  width: 54rem;
  /* border: 3px solid #1F1B26; */
}

.shop-container-expanded {
  display: flex;
  flex-wrap: wrap;
  width: 76rem;
}

.price {
  font-size: 1.4rem;
}

.center {
  display: flex;
  justify-content: space-around;
}

.blink {
  animation: blink 0.5s;
}

.cart-btn {
  background-color: #F3F4F3;
  /* border: 0; */
}

.cart-modal {
  min-width: 25rem;
  min-height: 20rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-modal {
  min-width: 25rem;
  min-height: 20rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  padding: 0.5rem 0rem;
}

.cart-breakdown {
  overflow-y: auto;
}

.cart-modal-button {
  margin-right: 0.5rem;
}

.checkout {
  background-color: #F2C14B ;
}

.items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.items-list-name {
  width: 80%;
  font-weight: 500;
}

.items-list-header {
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.notification {
  display: flex;
  height: 2.2rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  justify-content: center;
  padding-top: 0.5rem;
}

.notification-hide {
  animation: noti 0.5s ;
}

.notification-on-hide {
  top: -3rem;
  animation: notiBackward 1s ;
}

@keyframes noti {
  0% {
    top: -3rem;
  }

  100% {
    top: 0;
  }
}

@keyframes notiBackward {
  0% {
    top: 0;
  }

  100% {
    top: -3rem;
  }
}

.success {
  background-color: rgb(49, 150, 18);
}

.error {
  background-color: rgb(243, 10, 10);
}

.warning {
  background-color: rgb(241, 173, 12);
}

@keyframes
blink {
  25% {
    transform: scale(1.5);
  background-color: #AF7046;

  }

  75% {
    transform: scale(1);
    background-color: #F3F4F3;
  }
}

.flex {
  display: flex;
}

.shop-item-detail-section {
  width: 40rem;
}