@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: #E8E8EB;
  font-family: "Rubik", sans-serif;
}

#main-container {
  padding-top: 13rem;
}

body {
  margin: 0;
}

#header {
  width: 100%;
  height: 11rem;
  position: fixed;
  width: 100%;
  padding: 2rem 2rem;
  color: #F9F9F9;
  background-color: #262630;
}

#header > .container {
  display: flex;
  justify-content: space-around;
}

.header-title-container {
  display: flex;
}

.header-title-image {
  width: 100px;
  height: 100px;
}

.header-title {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 3.6rem;
  line-height: 6rem;
  font-weight: 500;
}

#nav > ul {
  list-style-type: none;
  display: flex;
}

#nav > ul > li {
  padding-right:  1rem;
}

#nav > ul > li > a.active {
  color: #F2C14B;
  font-weight: 400;
}

#nav > ul > li > a {
  text-decoration: none;
  color: white;
}

#nav > ul > li > a:hover {
  color: #F2C14B;
  
}

button {
  height: 2rem;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.flex-space-between {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.shop-container {
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  width: 76rem;
  margin: 1rem 4rem;
  /* border: 3px solid #1F1B26; */

}

.shop-item {
  height: 27rem;
  width: 18rem;
  /* padding: 1rem; */
  margin: 0.5rem;
  border-radius: 10px;
  background-color: #a7a4a499;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 2px grey;
}

.shop-item-title {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.2rem 1rem  ;
}

.shop-item-image {
  height: 18rem;
  width: 18rem;
  object-fit: contain;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* border: 2px solid; */
}

.shop-item-desc {
  padding: 1rem;
}

.price {
  font-size: 1.4rem;
}

.center {
  display: flex;
  justify-content: space-around;
}

.add-to-cart {
  background-color: #F2C14B;
  border-radius: 10px;
}

.add-to-cart:hover {
  background-color: #423c3c;
  color: #F3F4F3
}

.blink {
  animation: blink 0.5s;
}

.cart-btn {
  background-color: #F3F4F3;
  /* border: 0; */
}

.cart-modal {
  min-width: 25rem;
  min-height: 20rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-modal {
  min-width: 25rem;
  min-height: 20rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-breakdown {
  overflow-y: auto;
}

.cart-modal-button {
  margin-right: 0.5rem;
}

.checkout {
  background-color: #F2C14B ;
}

.items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.items-list-name {
  width: 80%;
  font-weight: 500;
}

.items-list-header {
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

.notification {
  display: flex;
  height: 2.2rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  justify-content: center;
  padding-top: 0.5rem;
}

.success {
  background-color: rgb(49, 150, 18);
}

.error {
  background-color: rgb(243, 10, 10);
}

.warning {
  background-color: rgb(241, 173, 12);
}

@keyframes
blink {
  25% {
    transform: scale(1.5);
  background-color: #AF7046;

  }

  75% {
    transform: scale(1);
    background-color: #F3F4F3;
  }
}